# =========================
# PYTHON / FASTAPI
# =========================

backend/venv/
__pycache__/
*.pyc

# Entornos virtuales
venv/
.venv/
iot_device/venv/

# =========================
# FLUTTER
# =========================

mobile/build/
mobile/.dart_tool/
mobile/.packages

# =========================
# LINUX / BINARIOS
# =========================

*.deb


